* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
.wrapper {
	min-width: 100%;
	min-height: 100%;
	display: flex;
}

.wrapper {
	flex-grow: 1;
}

.column,
.emptyColumn {
	background: #faf;
	display: flex;
	flex-direction: column;
	min-width: 15em;
	width: 15em;
	height: 100%;
	margin: 0 0.5em;
	padding: 1em;
	border-radius: 0.4em;
}

.title {
	position: relative;
	background: transparent;

	margin-bottom: 1em;
	padding: 0 0.2em 0.2em;
	border: 0;
	border-bottom: 1px solid #000;
}

.title-text {
	background: transparent;
	width: 100%;
	height: 100%;
	border: 0;
	font-size: 20px;
	font-weight: bold;
	resize: none;
	outline: none;
}

.title-text:focus {
	background-color: #fff;
	border: 1px solid #000;
}

.btn-create {
	box-sizing: border-box;
	background-color: #e5e5e5;
	width: 100%;
	height: 3em;
	border: 0;
	border: 1px solid #000;
	border-radius: 0.3em;
	cursor: pointer;
	outline: none;
}

.textarea-create {
	width: 100%;
	resize: none;
	outline: none;
	padding: 0.5em;
	overflow: hidden;

}

.textarea-create:focus {
	border: 0.01em solid #000;
}

.note,
.emptyNote {
	position: relative;
	background-color: #f5f5f5;
	height: 32px;
	width: 13em;
	border-radius: 0.5em;
	padding: 0.5em 0 0 1em;
	line-height: 1.5em;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
	word-break: break-all;
}

.emptyColumn,
.emptyNote {
	background: #f46;
}

.btn-delete,
.btn-expand {
	background-color: red;
	position: absolute;
	right: -0.8em;
	top: -1em;
	height: 1.6em;
	width: 1.6em;
	margin: 0.1em;
	border: 1px solid #000;
	border-radius: 100%;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	vertical-align: middle;
	color: #000;
	z-index: 1;
}

.btn-expand {
	background-color: #32CD32;
	right: 1em;
	top: -1em;
}

.noteWrapper,
.emptyNote {
	position: relative;
	margin: 1em 0;
}